html, body {
    background-color: rgb(107, 106, 68);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

body {
    &.blue-theme { background-color: #337aad; }
    &.green-theme { background-color: #108810; }
    &.red-theme { background-color: #950a21; }

    img {
        max-width: 50%;
        height: auto;
    }
    nav {

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            display: inline;
            margin-right: 15px;
        }

        a {
            text-decoration: none;
            color: #333;
            font-weight: bold;

            &:hover {
                color: #0066cc;
            }
        }
    }
}